html,
body {
  padding: 0;
  margin: 0;
  background-image: url("background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  
}

.bar {
  fill: red;
}

.bar:hover {
  fill: green;
}

.stop{width: 58%;}
